body
{
  background-image: url(background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#navi
{
  position: fixed;
  display: inline-block;
  color: rgb(0, 217, 255);
  list-style-type: none;
  font-size: 20px;
  z-index: 2;
  top: 10px;
}

#navi li
{
  float: left;
  width: 80px;
}

#title
{
  text-align: center;
  font-size: 50px;
}

th
{
  text-align: center;
  vertical-align: middle;
}

td
{
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

#tablewrapper
{
  max-height: 500px;
  width: 100%;
  overflow-y: auto;
}

#logo
{
  height: 100px;
  width: 200px;
}

.col-12
{
  color: white;
  background-color: rgb(0, 0, 102);
  text-align: center;
  padding: 10px;
  border: 2px;
  border-style: solid;
  border-color: black;
}

.section
{
  height: 97%;
  padding-top: 3%;
}

/* width */
::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  background: #2e2e2e;
  border-radius: 4px;
  opacity: 0.6; }

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #555; }